<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Headlines</title>
</head>

<body>
    <h1>Headlines</h1>
    <form method="GET">
        <input type="text" name="publication" placeholder="search">
        <input type="submit" value="Submit">
    </form>
    {% for article in articles %}
        <b><a href="{{article.link}}">{{article.title}}</a></b><br>
        <i>{{article.published}}</i><br>
        <p>{{article.summary}}</p>
        <hr>
    {% endfor %}
</body>

</html>